.htaccess
wp-config.php
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/backup-db/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
sitemap.xml
*.log
wp-content/cache/
wp-content/backups/
sitemap.xml
sitemap.xml.gz

#ignore eclipse project files
.buildpath
.project
.settings/

#ignore PhpStorm project files
.idea/

#ignore the backup 'orig' files produced by kdiff
*.orig